<!--  Case Studies  -->
<section class="home-case ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Case Studies</span>
            <h2>Have a Look Our Work Showcase</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Quis ipsum suspendisse.</p>
        </div>

        <div class="case">
            <ul class="all-case">
                <li class="active" data-filter="*"><span>All</span></li>
                {% for casegroupe in caseGroupes() %}
                <li data-filter=".{{casegroupe}}"><span>{{casegroupe}}</span></li>
                {% endfor %}
            </ul>
        </div>
        <div class="row case-list">
            {% for case in cases() %}
            <div class="col-lg-4 col-sm-6 item {{case.caseGroupe}}">
                <div class="single-case">
                    <div class="case-img">
                        <a href="#">
                            <img src="/image/{{case.photo}}" alt="{{case.title}}" />
                        </a>
                    </div>

                    <div class="content">
                        <a href="case-details.html">
                            <h3>{{case.title}}</h3>
                        </a>
                        <p>{{case.shortText |slice(0, 100)}}...</p>

                        <a href="{{path('case_detail',{id:case.id})}}" class="line-bnt">
                            View Project Details
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class="case-btn text-center">
            <p>We Have More Amazing Cases. <a href="#">View More</a></p>
        </div>
    </div>
</section>
<!-- End Case Studies -->