<!-- SignUp -->
<section class="signup-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="signup-form">
                    <div class="section-tittle text-center">
                        <h2>Sign In</h2>
                        <p>With your social network</p>
                    </div>
                    <form method="POST">
                        <div class="row">
                            <div class="col-sm-12">
                                {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security')
                                    }}</div>
                                {% endif %}

                                {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a
                                        href="{{ path('app_logout') }}">Logout</a>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <a class="box-btn bg-dark" href="{{ path('github_connect') }}">
                                    <i class='bx bxl-github'></i> Github
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <a class="box-btn facebook" href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i> Facebook
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <a class="box-btn twitter" href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i> Twitter
                                </a>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                        class="form-control" autocomplete="email" required autofocus>

                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control"
                                        autocomplete="current-password" required>

                                </div>
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="privecy-txt">
                                    <input type="checkbox" id="chb1">
                                    <label>
                                        Remember me
                                    </label>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button class="box-btn signup-btn" type="submit">
                                    Sign In
                                </button>
                            </div>
                            <div class="col-12 text-center">
                                <p class="al-acc">
                                    Not a Member
                                    <a href="{{ path('app_register') }}"> Sign Up</a>
                                </p>
                                <p class="al-acc">
                                    Forgot password ?
                                    <a href="{{ path('app_forgot_password_request') }}">Recover</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End SignUp -->