<!--Navbar Area -->
<div class="navbar-area">
    <div class="mobile-nav">
        <a href="/" class="logo sq100">
            <a href="/"><img class='sq100' src="/assets/logo.png" alt="logo" /></a>
        </a>
    </div>

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav text-left">
                        <li class="nav-item">
                            <a href="#" class="nav-link">phoenixPay</a>
                        </li>
                        <li class="nav-item">
                            <a href="/"
                                class="nav-link {% if app.request.attributes.get('_route') == 'home' %}active{% endif %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('about') }}" class="nav-link {% if app.request.attributes.get('_route') == 'about' %}active{% endif %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('solution') }}"
                                class="nav-link {% if app.request.attributes.get('_route') in ['solution','solution_detail'] %}active{% endif %}">Solutions</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('case') }}"
                                class="nav-link {% if app.request.attributes.get('_route') in ['case','case_detail'] %}active{% endif %}">Case
                                Studies</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('blog') }}"
                                class="nav-link {% if app.request.attributes.get('_route') in ['blog','blog_detail'] %}active{% endif %}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('contact') }}"
                                class="nav-link {% if app.request.attributes.get('_route') == 'contact' %}active{% endif %}">Contact
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-right">
                    
                </div>
                <div class="nav-btn">
                   <div class="btn" style="color: #FFF;">
                    <div class="dropdown">
                        <a class="dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          {% if app.user %}
                              {{app.user}}
                              {% else %}
                              Anonyme
                          {% endif %}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-default"
                          aria-labelledby="navbarDropdownMenuLink-333">
                          {% if app.user %}
                              <a class="dropdown-item" href="{{path('app_logout')}}">Logout</a>
                              {% else %}
                              <a class="dropdown-item" href="{{path('app_login')}}">Login</a>
                          {% endif %}
                        </div>
                      </div>
                   </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- End Navbar Area -->