<!-- Team Area -->
<section class="home-team-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Team Members</span>
            <h2>People Who are Behind the Achievements</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
        </div>

        <div class="home-team-slider owl-carousel owl-theme">
            
            {% for menber in allTeam() %}
            <div class="single-team">
                <div class="team-img">
                    <img src="/image/{{menber.photo}}" alt="team" />
                    <ul class="social">
                        <li>
                            <a href="{{menber.linked}}" target="_blank"><i class='bx bxl-linkedin'></i></a>
                        </li>
                        <li>
                            <a href="{{menber.facebook}}" target="_blank"><i class="bx bxl-facebook"></i></a>
                        </li>
                        <li>
                            <a href="{{menber.Twitter}}" target="_blank"><i class="bx bxl-twitter"></i></a>
                        </li>
                        <li>
                            <a href="mailto:{{menber.mail}}" target="_blank"><i class="bx bxs-envelope"></i></a>
                        </li>
                    </ul>
                </div>

                <div class="content text-center">
                    <h3>{{menber.name}}</h3>
                    <p>{{menber.role}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Team Area -->